# Gender assignment

This notebook contains all processing related to the task of gender assignment described in SI. 
This project uses the commercially available service `genderize.io` to assign a binary gender label to an author's first name.   

If supplied, a country code can improve the accuracy of this genderization API. Inspired by Huang et. al. (2020), we identify the most frequent country of affiliation for each author who has at least one valid affiliation country. This country is supplied to the `genderize.io` API when available. 

This notebook is divided into three sections:  
1. Identifying all relevant tuples of (author first name; country) from the MAG dataset
2. Using the genderize.io API to assign gender labels
3. Filtering gender labelling results and merging results with the MAG author dataset.

# 1. Identifying the first name and country of relevant authors

We use a Spark SQL to interface with the MAG dataset which is stored in text files as provided by Microsoft Academic.   


Certain methods below use Spark SQL queries in order to interact with the MAG dataset in a manner which is largely interchangable with other SQL databases.

In [ ]:
import os 
from matplotlib import pyplot as plt
import pandas as pd
import json
import requests
import sqlite3
from tqdm import tqdm
import sys
import warnings
warnings.filterwarnings("ignore")

# Spark-related imports, including custom library to interact with MAG on HPC
import findspark
import MAGspark 

# Set environment variables for Pyspark
os.environ["SPARK_LOCAL_DIRS"] =    # "/home/xxxx/MAG/TMP"
os.environ["JAVA_HOME"] =           # "/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el7_7.x86_64"
os.environ['SPARK_HOME'] =          # "/home/xxxx/MAG/spark-3.0.2-bin-hadoop2.7"

In [ ]:
# Initialize Pyspark instance on SLURM-based HPC cluster
# NOTE: MAGspark library offers a method to run Spark on a single machine without a scheduler 

slurm_job_id = # 55358
data_folderpath = # "/home/xxxx/COLLAB/DATA/2021-08-02/"

mag, spark = MAGspark.get_mag_with_cluster_connection(jobid= slurm_job_id,                                                      
                                                      memory_per_executor=14000,
                                                      data_folderpath = data_folderpath)

### Compute the most frequent country of affiliation for each author

First, we extract a dataset consisting of the display name and AuthorID of each author in the MAG.  
We append to this table the most frequent country of affiliation for the authors who have at least one valid country of affiliation.

In [ ]:
def extract_author_countries(mag, destination): 
    """
    Computes and writes to csv a dataset of author information from the MAG,
    namely (AuthorId, Displayname, Country code in Iso3166 format).
    Country code is computed as the most frequent country of affiliation
    and can be null for authors with no affiliation country. 
    
    Parameters: 
        @mag (MicrosoftAcademicGraph): Instance of MicrosoftAcademicGraph
        @destination (string): filepath to store returned dataset (tab-separated)
    Returns
        None
    """
    
    # Initialize relevant MAG datasets as temporary views for Spark SQL 
    author_affiliations = mag.getDataframe('PaperAuthorAffiliations')
    aff = mag.getDataframe('Affiliations')
    authors = mag.getDataframe('Authors')
    
    # Compute the number of authorships per author and affiliation country
    # ROW_NUMBER() is used to identify the country order for each author
    # based on number of authorships descending
    query = """
        SELECT paa.AuthorId, a.Iso3166Code as Country, COUNT(*) as num_authorships,
        ROW_NUMBER() OVER(PARTITION BY paa.AuthorId ORDER BY COUNT(*) DESC) AS CountryRowNumber
        FROM PaperAuthorAffiliations paa
        INNER JOIN Affiliations AS a ON paa.AffiliationId = a.AffiliationId
        GROUP BY paa.AuthorId, a.Iso3166Code
    """
    
    # supply query and create a temporary view, AuthorCnt
    author_countries = mag.query_sql(query)
    author_countries.createOrReplaceTempView('AuthorCnt')

    # compute AuthorId, Displayname, Country code 
    # for each author in the MAG 
    # where country code is null of the highest-frequency country
    query = """
        SELECT a.AuthorId, DisplayName, ac.Country
        FROM Authors a 
        LEFT JOIN AuthorCnt ac ON a.AuthorId = ac.AuthorID
        WHERE ac.CountryRowNumber is null OR ac.CountryRowNumber = 1
    """
    
    # run query and save to file at given destination
    author_countries_count = mag.query_sql(query)
    author_countries_count.write.option("sep", "\t").option("encoding", "UTF-8")\
    .csv(destination)
    return

In [ ]:
destination = # e.g. "../DATA/2021-08-02/project/AuthorCountries.txt"
extract_author_countries(mag, destination=destination)

### Compute all relevant tuples of (firstname, country)  

Next we compute all unique pairs of first name and country.   
The first name of an author is defined as everything preceding the first space in an author's name.   

Here, we also filter out all authors who are not relevant to the study; those who only published prior to 2010 or in non-STEM disciplines.

In [2]:
def unique_firstnames_per_country(mag): 
    """
    Computes the unique tuples of (first name, country code) 
    for authors who published at least once in STEM-disciplines 
    in 2010 or later. Country code can be null.
    Parameters: 
        @mag (MicrosoftAcademicGraph): Instance of MicrosoftAcademicGraph
    Returns
        Pandas dataframe
    """
    
    # Initialize relevant MAG datasets as temporary views for Spark SQL 
    ac = mag.getDataframe('AuthorCountries')
    author_affiliations = mag.getDataframe('PaperAuthorAffiliations')
    papers = mag.getDataframe('Papers')
    prf = mag.getDataframe('PaperRootField')
    
    query = """
        SELECT DISTINCT
        LEFT(DisplayName, POSITION(' ' in DisplayName) - 1) as Firstname,
        a.Country
        FROM AuthorCountries a
        INNER JOIN (
            SELECT DISTINCT(AuthorId) as AuthorId
            FROM PaperAuthorAffiliations paau
            INNER JOIN PaperRootField prfi ON paau.PaperId = prfi.PaperId
            INNER JOIN Papers p ON paau.PaperId = p.PaperID
            WHERE IsStem = 1 AND p.Year >= 2010
        ) ua ON a.AuthorId = ua.AuthorId
    """
    
    # Run query and output to Pandas dataframe
    stem_authors = mag.query_sql(query)
    stem_authors_df = stem_authors.toPandas()
    
    return stem_authors_df

In [ ]:
stem_authors_df = unique_surnames_per_country(mag)


# Store the result as comma-separated csv with Pandas
destination = # e.g. '.../DATA/2021-08-02/project/AuthorFirstnames.csv'
stem_authors_df.to_csv(destination, index=False)

## 2. Genderize names

We now have all the name and country pairs to supply to the `genderize.io` API.   
We use a temporary SQLite database to store the progress of the genderization process, 
as each request to the API can only supply gender labels for a maxiumum of 10 names. As such, this process is time consuming and prone to interruptions.

In [ ]:
# Set a path for a temporary SQLite database file
DB_PATH = # e.g. ".../DATA/2021-08-02/project/ATTRIBUTES.db"

# set the CSV filepath of the file containing name + country pairs
CSV_PATH = # e.g. '.../DATA/2021-08-02/project/AuthorFirstnames.csv'

We define a few helper function to interact with the SQLite database 
using Pandas:

In [ ]:
def get_conn(db_path=DB_PATH):
    """
    initialize connection instance to SQLite database 
    located at given path
    Parameters:
        @dp_path (string): Path to SQLite .db file
    Returns:
        Sqlite3 connection instance
    """
    conn = sqlite3.connect(db_path, timeout=30)
    return conn

def append_to_db(conn, table, df):
    """
    Append contents of a dataframe to a database table
    Parameters:
        @df (DataFrame): Records to append 
        @table (string): Table name
        @conn (Connection): SQLite3 .db connection
    Returns:
        None
    """
    df.to_sql(table, con=conn, if_exists='append')

def query_sql(conn, query):
    """
    Query SQLite database with SQL query
    Parameters: 
        @conn (Connection): SQLite3 .db connection
        @query (string): SQL query
    Returns:
        Query result as Pandas dataframe
    """
    df = pd.read_sql(query, con=conn)
    return df

Next, we define a function to supply a list of max. 10 names to the `genderize.io` API:

In [ ]:
# API key to genderize.io API: 
API_KEY = ""


def genderize_names(namelist, country=None):
    """
    Supplies a list of max. 10 names and an optional country code
    to the genderize.io API and returns a list of results from the API.
    Parameters: 
        @namelist (list): List of first names (string) to genderize 
        @country (string): Optional country code
    Returns: 
        List of API results for given names
    """
    
    # break if list of names is longer than 10
    assert len(namelist) <= 10

    url = "https://api.genderize.io/?"
    api_key = API_KEY

    # join all names into URL-format required by genderize.io
    # example: "name=peter&name=alicia&country_id=US"
    names_string = "&".join(['name=' + str(name) for name in namelist])
    request_url  = url + names_string 

    # add country if given
    request_url  = request_url + '&country_id=' + country if country is not None else request_url

    # send request to API
    r = requests.get(request_url + '&apikey=' + api_key)

    r.raise_for_status()
    
    # extract JSON response
    result = r.json()

    # return list of results
    if not isinstance(result, list):
        return [result]

    return result

Finally, we define a function to run the genderization process for all relevant first name + country pairs, including those with no country.  

In case the process is interrupted it can be rerun and will not supply name + country pairs already genderized.

In [ ]:
def process_all_names():
    """
    Runs all name + country pairs through the genderize.io API 
    and stores results in SQLite database in table 'genderize'
    
    Returns: 
        None
    """
    
    # Read list of first name and country codes from CSV file
    name_list = pd.read_csv(CSV_PATH)
    
    # Sort list by country code
    name_list.sort_values(by=['Country', 'Surname'], inplace=True)
    
    # get a database connection to SQLite database
    conn = get_conn()

    # Extract already genderized name + country pairs 
    finished_names = query_sql(conn, "SELECT name as Firstname, country_id as Country FROM genderize")

    # Remove name + country pairs already genderized
    name_list = pd.concat([name_list, finished_names]).drop_duplicates(keep=False)

    # Loop over each country + None as country code
    for country in sorted([cnt for cnt in name_list['Country'].unique()] + [None]):
        
        # Filter the name list for current country:
        if country is None:
            name_list_country = name_list[pd.isnull(name_list['Country'])]
        else:
            name_list_country = name_list[name_list['Country'] == country]

        print("STARTING NAMES FROM {}".format(country))
        
        # loop over all names in batches of 10
        for i in tqdm(range(0, name_list_country.shape[0], 10)):
            
            # get list of names
            current_names = [name for name, country 
                             in list(name_list_country.iloc[i:i+10].values)]
            
            # supply names to API
            result = genderize_names(current_names, country=country)

            # convert JSON result to Pandas dataframe
            result_df = pd.DataFrame.from_records(result)
            
            # Skip if API returned errorful response
            if 'error' in result_df.columns:
                print("failed on {}".format(current_names))
                continue
            
            # add country_id None to results if no country was specified
            if 'country_id' not in result_df.columns:
                result_df['country_id'] = None
            
            # append results to 'generize' table in SQLite database
            result_df.to_sql('genderize', con=conn, if_exists='append')
            
    return

## 3. Filtering gender labelling results and merging results with the MAG author dataset

We add a number of filters to the genderization results to eliminate potentially errorful gender labels.   
Names with a single character and punctuation should not be genderized (e.g. "J. Smith"), for example.

In [4]:
# get connection to SQLite database and extract all genderization results
conn = get_conn()
all_results = query_sql(conn, "SELECT * FROM genderize")

# remove duplicates for good measure
all_results.drop_duplicates(subset=['name', 'country_id'], inplace=True)

Next we load the CSV of first names and country codes and merge genderization results to this dataset:

In [ ]:
firstnames = pd.read_csv(CSV_PATH)

# merge genderization results and author names df:
merged = pd.merge(firstnames, all_results, how='left', 
                  left_on=['Firstname', 'Country'], 
                  right_on=['name', 'country_id'])

In [9]:
merged

,Firstname,Country,index,name,gender,probability,count,country_id
0,Omar,NaN,9.0,Omar,male,0.98,68333.0,None
1,Francois,NaN,1.0,Francois,male,0.98,26836.0,None
2,Igor,US,7.0,Igor,male,1.00,312.0,US
3,Bastiaan,NaN,8.0,Bastiaan,male,0.99,561.0,None
4,Serlyana,NaN,9.0,Serlyana,female,1.00,1.0,None
...,...,...,...,...,...,...,...,...
3651077,Sahir-Halouane,NaN,5.0,Sahir-Halouane,None,0.00,0.0,None
3651078,Chul-Sup,NaN,3.0,Chul-Sup,None,0.00,0.0,None
3651079,Anuron,IN,7.0,Anuron,None,0.00,0.0,IN
3651080,Tahzibi,NaN,8.0,Tahzibi,None,0.00,0.0,None
3651081,Iseh,NG,8.0,Iseh,female,1.00,3.0,NG

Next we define a set of rules to filter the genderization results:  
1. Names for which `genderize.io` returned None are labelled -2 
2. Names of length 1 when stripping punctuation "." are labelled -2, e.g. "J. Smith"
3. Names of length 4 in full and length 2 when stripping punctuation "." are labelled -2, e.g. "H.J. Smith"  
4. Names of length 2 containing only consonants are labelled -2, e.g. "HJ Smith"
5. Names with a 'male' confidence score of >= 0.8 are labelled 0 (Male)
6. Names with a 'female' confidence score of >= 0.8 are labelled 1 (Female)
7. All other names are labelled -1. These will mostly names with a gender label of lower confidence than 0.8.

In [4]:
import re

def rem_vowel(string):
    # removes vowels from a string
    return (re.sub("[aeiouæøåAEIOUÆØÅ]", "", string)) 


def assign_gender_label(rowrecord): 
    """
    Takes a record (dict) from the dataset of author names 
    and genderization results and returns gender labels 
    according to a set of rules. 
    Returns: 
        Gender label (int): 0 for male, 1 for female, -1 or -2 for unlabelled
    """
    if pd.isnull(rowrecord.gender): return -2
    elif len(rowrecord.Firstname.replace(".", "")) == 1: return -2 
    elif len(rowrecord.Firstname) == 4 and len(rowrecord.Firstname.replace(".", "")) == 2: return -2
    elif len(rowrecord.Firstname) == 2 and len(rem_vowel(rowrecord.Firstname)) == 2: return -2 
    elif rowrecord.gender == 'male' and rowrecord.probability >= 0.8: return 0
    elif rowrecord.gender == 'female' and rowrecord.probability >= 0.8: return 1
    else: return -1

We now apply the filter to the existing dataframe of author names and gender assignment results:

In [17]:
merged['genderized'] = merged.apply(lambda rowrecord: assign_gender_label(rowrecord), axis=1)

The result is stored as a tab-separated CSV:

In [18]:
destination = # e.g. '.../DATA/2021-08-02/project/GenderizedFirstnames.txt'

merged[['Firstname', 'Country', 'gender', 
        'probability', 'count', 'genderized']]\
        .to_csv(destination,sep="\t", index=False, header=False)

### Merge genderized names to authors in the MAG
Finally, we can merge the genderization results onto individual author records in the MAG.  
The dataset of genderization results has been added to the MAG dataset under the table name `GenderizedFirstnames`.

In [ ]:
def assign_genders_to_authors(mag, destination): 
    """
    Merge genderization results with MAG author records
    to obtain a gender label for each available author in the MAG. 
    Parameters: 
        @mag (MicrosoftAcademicGraph): Instance of MicrosoftAcademicGraph
        @destination (string): filepath to store returned dataset (tab-separated)
    Returns: 
        None
    """
    
    # load relevant datasets from MAG as temp. views
    ac = mag.getDataframe('AuthorCountries')
    genderized = mag.getDataframe('GenderizedFirstnames')
    
    # Query selects from AuthorCountries and (left) joins genderizaton results
    # on first name and country
    query = """
        SELECT 
            ac.AuthorId,
            ac.DisplayName, 
            ac.Country,
            gs.gender,
            COALESCE(gs.genderized, -3) as genderized
        FROM AuthorCountries ac 
        LEFT JOIN GenderizedFirstnames gs ON 
            LEFT(ac.DisplayName, POSITION(' ' in ac.DisplayName) - 1) = gs.Firstname AND
            COALESCE(ac.Country, 'unknown') = COALESCE(gs.Country, 'unknown')
        ORDER BY gs.genderized DESC, ac.AuthorId
    """
    
    author_genders = mag.query_sql(query)
    
    # write to file
    author_genders.write.option("sep", "\t").option("encoding", "UTF-8")\
    .csv(destination)
    return

In [ ]:
destination = # e.g. ".../DATA/2021-08-02/project/AuthorsGenderized.txt"
assign_genders_to_authors(mag, destination=)

The AuthorsGenderized dataset now consists of records with the following columns:  
* AuthorId
* Displayname
* Country (by majority affiliation)
* Gender (string from genderize.io) 
* Genderized (1 for female, 0 for male, < 0 for unlabelled)